/* === GENERAL === */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 700px;
  background-color: #222;
}

.main-container {
  max-width: 1400px;
  margin: 0 auto;
}
/* ===== SLIDER ===== */

/* === Main slide container === */

.slider {
  position: relative;
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

/* === All slides container === */

.slider-slides-cnt {
  height: 95vh;
  position: relative;
}

/* === Single slide === */

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  z-index: 0;
  transition: 0.5s all;
}

.slider-slide-active {
  z-index: 1;
  opacity: 1;
}

.slider-slide .element-title {
  color: #fff;
  border-radius: 10px;
  padding: 0 1rem;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 10px #fff;
  font-size: 3rem;
  font-family: sans-serif;
  position: relative;
  opacity: 0;
  transition: 2s all;
}

.slider-slide .element-text {
  margin-top: 1rem;
  color: #fff;
  font-family: sans-serif;
  position: relative;
  opacity: 0;
  transition: 2s 1s all;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 6px #fff;
  font-size: 1rem;
  border-radius: 5px;
  padding: 5px 10px;
  letter-spacing: 1px;
}

.slider-slide-active .element-title {
  opacity: 1;
}

.slider-slide-active .element-text {
  opacity: 1;
}

/* === PREV/NEXT Buttons === */

.slider-button-next,
.slider-button-prev {
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 2.5vh;
  width: 4rem;
  height: 95vh;
  background: rgba(0, 0, 0, 0.2);
  border: 0;
  box-shadow: 5px 0px 20px -5px #666;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.slider-button-next {
  right: 0;
  left: auto;
  box-shadow: -5px 0px 20px -5px #666;
}

.slider-button-next p,
.slider-button-prev p {
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: #000;
  text-shadow: 0px 0px 5px #fff, 0px 0px 10px #000;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
  transform: translateX(25%);
}

.slider-button-next:focus,
.slider-button-prev:focus {
  outline: none;
}

.slider-button-next:hover,
.slider-button-prev:hover {
  background: rgba(0, 0, 0, 0.5);
}

.slider-button-next:hover p,
.slider-button-prev:hover p {
  color: #fff;
  text-shadow: 0px 0px 30px #000;
}

/* === Slider dots === */

.slider-dots {
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.slider-dots-button {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 0;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #fff;
  font-size: 1rem;
  padding: 5px;
}

.slider-dots-element {
  padding: 5px;
}

.slider-dots-element-active .slider-dots-button {
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8), 0 0 0 4px rgba(0, 0, 0, 0.8);
}

.slider-dots-button:focus {
  outline: none;
}

/* ===== ACCORDION ===== */

/* === Main accordion container === */

.accordion {
  overflow: hidden;
  background-color: #222;
  height: 100vh;
  width: 95%;
  margin: 0 auto;
}

/* === All elements container === */

.accordion-cnt {
  display: flex;
  height: calc(100vh - 1rem);
  justify-content: center;
  background-color: #ccc;
  overflow: hidden;
  margin: 0.5rem;
  position: relative;
}

/* === Single elements === */

.accordion-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  flex: 1;
  transition: 0.5s all ease-in-out;
}

.accordion-element .element-title {
  white-space: nowrap;
  transform: rotate(-90deg);
  transition: 0.5s all;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 10px #fff;
}

.accordion-element .element-text {
  margin: 1.5rem;
  padding: 1rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 6px #fff;
  font-size: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  height: 0;
  opacity: 0;
  text-align: center;
}

.accordion-element:hover {
  flex-grow: 4;
}

.accordion-element:hover .element-title {
  transform: rotate(0);
}

.accordion-element:hover .element-text {
  opacity: 1;
  height: auto;
  transition: 0.5s 0.45s opacity;
}

/* ===== TABS GALLERY ===== */

br {
  content: ' ';
}

br:after {
  content: ' ';
}

/* === Mian tab gallery container === */

.tab-gallery {
  position: relative;
  overflow: hidden;
  background-color: #222;
  height: 100vh;
}

/* === All elements container === */

.tab-gallery-cnt {
  margin: 1rem;
  height: calc(100vh - 2rem);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.tab-gallery-min {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  width: 90%;
  overflow: hidden;
}

.gallery-element {
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  border: none;
}

.gallery-element:hover {
  border: 3px solid #fff;
}

.gallery-element-active {
  opacity: 1;
  border: 3px solid #fff;
}

.gallery-element .element-title {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 7px #fff;
  display: inline-block;
  color: #fff;
}

.gallery-element .element-text {
  display: none;
}

/* === Marker === */

.tab-gallery-marker {
  width: 100%;
  height: 5%;
}

.marker {
  width: 10px;
  height: 100%;
  background-color: #fff;
  position: relative;
  transition: 0.2s all ease-in-out;
}

/* === Zoom container === */

.gallery-element-zoom {
  background-position: center;
  background-size: cover;
  height: 75%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  border-radius: 10px;
  transition: 0.5s all ease-in-out;
}

.zoom-title {
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 7px #fff;
  margin-bottom: 2rem;
}

.zoom-text {
  color: #fff;
  border-radius: 3px;
  padding: 0.4rem 0.8rem;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 5px #fff;
  text-align: center;
  width: 80%;
}

/* ===== 3D GALLERY ===== */

/* === Main container === */

.gallery-3d {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #222;
  height: 100vh;
}

.gallery-3d-cnt {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* === Images section === */

.gallery-3d-images {
  display: flex;
  align-items: center;
  height: 75vh;
  width: 90%;
  perspective: 2000px;
}

.gallery-3d-previous, .gallery-3d-next {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  width: 30px;
  background-image: linear-gradient(#222, rgb(133, 133, 245), #222);
  border: none;
  height: 30%;
  position: relative;
  z-index: 2;
}

.gallery-3d-previous:hover, .gallery-3d-next:hover {
  border: 1px solid rgb(133, 133, 245);
}

.gallery-3d-previous:active, .gallery-3d-next:active {
  color: #fff;
}

.gallery-3d-elements {
  margin: 0 auto;
  position: relative;
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  background-position: center;
  background-size: cover;
  transition: 1s all ease-in-out;
}

.gallery-3d-element {
  position: relative;
  z-index: 1;
  width: 65%;
  height: 65%;
  background-color: rgba(40, 180, 100, 0.5);
  position: absolute;
  font-size: 16px;
  text-align: center;
  transition: 1.2s ease-in-out;
  border-radius: 10px;
}

.gallery-3d-element:not(.active) {
  opacity: 0.6;
  filter: sepia(100%);
}

.gallery-3d-element .element-text {
  display: none;
}

.gallery-3d-element .element-title {
  display: none;
}

/* === Details/description section === */

.gallery-3d-element-details {
  border: 2px solid rgb(133, 133, 245);
  box-shadow: 5px 5px 5px #000;
  background: rgba(133, 133, 245, 0.25);
  width: 60%;
  padding: 20px;
  margin: 2vh;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

.gallery-3d-title {
  margin-bottom: 10px;
  font-size: 24px;
}

.gallery-3d-text {
  font-size: 18px;
}